.search-page {
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-auto-rows: 2fr 1fr 1fr;
    grid-template-areas: 
    '. search-page-header .'
    '. search-page-filters .'
    '. search-page-list .';
    justify-items: center;
}

.search-page-header {
    grid-area: search-page-header
}

.search-page-filters {
    grid-area: search-page-filters;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'search-page-filters-complaint-number search-page-filters-boro search-page-filters-cuisine search-page-filters-zip-code';
    width: 100%;
    align-items: center;
    grid-gap: 25px;
}

.search-page-filters-complaint-number {
    grid-area: search-page-filters-complaint-number
}

.search-page-filters-boro {
    grid-area: search-page-filters-boro
}

.search-page-filters-cuisine {
    grid-area: search-page-filters-cuisine
}

.search-page-filters-zip-code {
    grid-area: search-page-filters-zip-code
}



