.search-page {
    display: grid;
    grid-template-columns: auto 700px auto;
    grid-auto-rows: 1fr 1fr 20fr;
    grid-template-areas: 
    '. search-page-header .'
    '. search-page-filters .'
    '. search-page-list .';
}

.search-page-header {
    grid-area: search-page-header;
    height: 50px;
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 4em;
    text-shadow: black 5px 5px 15px;
}

.search-page-filters {
    grid-area: search-page-filters;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
    'search-page-filters-boro search-page-filters-cuisine search-page-filters-zip-code';
    width: 100%;
    align-items: center;
    grid-gap: 50px;
}

.search-page-list {
    grid-area: search-page-list;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 100%;
    grid-gap: 20px;
    height: 120px;
    text-align: left;
}

.search-page-filters-boro {
    grid-area: search-page-filters-boro;
    border-radius: 10px;
}

.search-page-filters-cuisine {
    grid-area: search-page-filters-cuisine;
    border-radius: 0 10px 10px 0;
}

.search-page-filters-zip-code {
    grid-area: search-page-filters-zip-code;
    border-radius: 0 10px 10px 0;
}

.search-page-home-button {
    grid-area: search-page-header;
    height: 30px;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    width: 60px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.box-shadow {
    box-shadow: black 1px 1px 10px;
}