.wsie-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 100px 400px 100px auto;
  grid-auto-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  '. . header . .'
  '. . random-restaurant . .'
  '. . random-comment . .'
  '. . front-page-buttons . .'
}

.header {
  grid-area: header;
  align-self: end;
  margin: 0;
}

.random-restaurant {
  grid-area: random-restaurant
}

.random-comment {
  grid-area: random-comment
}

.front-page-buttons {
  grid-area: front-page-buttons
}