.wsie-container {
  display: grid;
  justify-items: center;
  grid-template-columns: auto 100px 400px 100px auto;
  grid-auto-rows: 2fr 1fr 1fr;
  grid-template-areas: 
  '. header header header .'
  '. . random-restaurant . .'
  '. . random-violation . .'
  '. . front-page-buttons . .'
}

.header {
  grid-area: header;
  align-self: end;
  margin: 125px 0px 0px;
  font-size: 3em
}

.random-restaurant {
  grid-area: random-restaurant;
  align-self: end;
}

.random-violation {
  grid-area: random-violation
}

.front-page-buttons {
  grid-area: front-page-buttons
}